/* Base Styles */
body {
    background-color: rgb(27, 27, 27);
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2%;
    font-size: 4vw;
    animation: bounce 2s infinite;
}

.input-container {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid greenyellow;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    width: 250px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2%;
    flex-wrap: wrap;
}

footer {
    margin-top: 5%;
    text-align: center;
    padding: 1.5em;
}

/* Fancy Button Styles */
.button-container {
    text-align: center;
    margin-top: 20px;
}

#rollDice {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
   background: linear-gradient(45deg, #00b03d, #0b462d);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 15px #00b03d;
    cursor: pointer;
    transition: 0.4s;
}

#rollDice:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #ff3399, #352e5e);
    box-shadow: 0px 6px 20px rgba(255, 0, 153, 0.85);
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    .container {
        flex-direction: column;
        gap: 10px;
    }

    .container img {
        width: 100px;
        height: 100px;
    }

    input {
        width: 200px;
        font-size: 16px;
    }

    #rollDice {
        font-size: 18px;
        padding: 10px 20px;
    }
}

/* Dialog Box */
.dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 300px;
    background-color: #333;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #fff;
    cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

img:hover {
    transform: rotate(360deg);
}

footer {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}
